@use "./common" as *;

.as-container {
  opacity: 1 !important;
  position: fixed;
  display: flex;
  background-color: var(--as-bg-color);
  z-index: $mainZIndex;
}

.as-horizontal {
  height: $height;
  width: 100%;
  flex-direction: row;
  transition: transform 0.1s;
  &.as-show {
    transform: translateY(0);
  }
}

.as-top {
  top: 0;
  border-bottom: 1px var(--as-border-color) solid;
  &.as-hide {
    transform: translateY(-100%);
  }
}

.as-bottom {
  bottom: 0;
  border-top: 1px var(--as-border-color) solid;
  &.as-hide {
    transform: translateY(100%);
  }
}

.as-vertical {
  height: 100%;
  width: $verticalWidth;
  top: 0;
  flex-direction: column;
  transition: transform 0.1s;

  &.as-show {
    transform: translateX(0);
  }
}

.as-left {
  left: 0;
  border-right: 1px var(--as-border-color) solid;
  &.as-hide {
    transform: translateX(-100%);
  }
}

.as-right {
  right: 0;
  border-left: 1px var(--as-border-color) solid;
  &.as-hide {
    transform: translateX(100%);
  }
}

// 对应 body-xxx 类的样式（即同步到根节点的模拟样式）
:host(.body-horizontal), .body-horizontal {
  height: $height;
  width: 100%;
}

.body-top + body, :host(.body-top) + body {
  [data-as-margin-top] {
    margin-top: $height !important;
  }
  [data-as-transform] {
    transform: translateY($height);
  }
  [data-as-border-top] {
    border-top: rgba(0, 0, 0, 0) $height solid;
    box-sizing: content-box;
  }
}

.body-bottom + body, :host(.body-bottom) + body {
  [data-as-margin-bottom] {
    margin-bottom: $height !important;
  }
  [data-as-transform] {
    transform: translateY(-$height);
  }
  [data-as-border-top] {
    border-bottom: rgba(0, 0, 0, 0) $height solid;
    box-sizing: content-box;
  }
}

:host(.body-vertical), .body-vertical {
  height: 100%;
  width: $verticalWidth;
  position: fixed;
  z-index: 99990;
}

.body-left + body, :host(.body-left) + body {
  margin-left: $verticalWidth !important;
}

.body-right + body, :host(.body-right) + body {
  margin-right: $verticalWidth !important;
}
